* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

h2 > span {
    color: rgb(243, 197, 14);
}

.hero {
    background-image: url(../images/principalbaixo2.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
}

.hero p:first-child {
    font-size: 4em;
    font-weight: 900;
    line-height: 40px;
}

.hero p:nth-child(2) {
    font-size: 1.4em;
}

.about, .works {
    padding-top: 24px;
    max-width: 1024px;
    margin: 0 auto;
}

.about {
    padding-left: 8px;
    padding-right: 8px;
}

.grid {
    display: flex;
    gap: 8px;
}

/* > selector - format only childs of .grid */
.grid > div {
    flex: 1;
}

.grid > div img {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .grid {
        flex-direction: column;
    }

    .hero {
        background-image: url(../images/principalalto2.jpg);
    }
    
}